@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .transition-base {
    @apply transition ease-in-out duration-300;
  }
  .btn-primary {
    @apply w-max flex items-center justify-center px-4 py-2 border border-transparent shadow-md font-semibold uppercase rounded-md text-xs text-white tracking-widest bg-purple-600 hover:bg-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75 transition-base;
  }
  .btn-secondary {
    @apply w-max flex items-center justify-center px-4 py-2 border border-purple-500 shadow-md font-semibold uppercase rounded-md text-xs text-purple-700 tracking-widest bg-white hover:bg-purple-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75 transition-base;
  }
  .btn-blue {
    @apply w-max flex items-center justify-center px-4 py-2 border border-transparent shadow-md font-semibold uppercase rounded-md text-xs text-white tracking-widest bg-blue-600 hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition-base;
  }
  .btn-green {
    @apply w-max flex items-center justify-center px-4 py-2 border border-transparent shadow-md font-semibold uppercase rounded-md text-xs text-white tracking-widest bg-green-600 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition-base;
  }
  .btn-danger {
    @apply w-max flex items-center justify-center px-4 py-2 border border-transparent shadow-md font-semibold uppercase rounded-md text-xs text-white tracking-widest bg-red-600 hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75 transition-base;
  }
  .link {
    @apply inline-flex text-base font-semibold rounded-md text-purple-500 hover:underline hover:text-purple-700 focus:outline-none focus:underline focus:text-purple-700 transition-base;
  }
  .side-nav-link {
    @apply w-full px-3 py-2 rounded-md text-base font-semibold hover:bg-purple-700  hover:text-white focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75 transition-base;
  }
  .side-nav-link-active {
    @apply w-full px-3 py-2 rounded-md text-base font-semibold bg-purple-500 text-white hover:bg-purple-700  hover:text-white focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75 transition-base;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: #7C3AED;
    height: 60px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background: #F3F4F6;
}
