@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .btn-primary {
    @apply w-max flex items-center justify-center px-4 py-2 border border-transparent text-base shadow-md font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75;
  }
  .side-nav-link {
    @apply w-full px-3 py-2 rounded-md text-base font-semibold hover:bg-purple-700  hover:text-white focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75;
  }
  .side-nav-link-active {
    @apply w-full px-3 py-2 rounded-md text-base font-semibold bg-purple-500 text-white hover:bg-purple-700  hover:text-white focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75;
  }
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 16px;
}

html::-webkit-scrollbar-thumb {
    background: #7C3AED;
    height: 60px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

html::-webkit-scrollbar-track {
    background: #F3F4F6;
}
